﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>@ViewBag.Title - GLORY Admin Panel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GLORY Admin Panel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("OrderDetails", "Index", "OrderDetails")</li>
                    <li>@Html.ActionLink("Clothes", "Index", "Clothes")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                </ul>
            </div>
            <div style="position:absolute; top:0; right:0; margin:15px 50px 0px 0px;">
                @if (Session["user"] != null)
                {
                    @Html.ActionLink("Logout", "Logout", "Home")
                     
                }
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Session["user"]
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:100px;">
        @RenderBody()
        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>