﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
        <div class=" navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Glory-Exclusive", "Index", "HomePage", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Anasayfa", "Index", "HomePage")</li>
                        <li>@Html.ActionLink("Ürünler", "Urunler", "HomePage")</li>
                        <li>@Html.ActionLink("siparişlerim", "SatinAl", "HomePage")</li>
                        <li>@Html.ActionLink("İletişim", "Contact", "HomePage")</li>
                    </ul>
                    <div style="position:absolute; top:0; right:0; margin:15px 50px 0px 0px;">
                        @if (Session["user"] != null)
                        {
                            <div>
                                @Html.ActionLink(@Session["user"].ToString(), "Profilim", "HomePage", new { @class = "btn btn-default" })
                            </div>
                            @Html.ActionLink("Sign Out", "SignOut", "HomePage", new { @class = "btn btn-danger", @style = "margin:10px -50px 0px 0px;" })
                        }
                        else
                        {
                            @Html.ActionLink("Sign Up", "SignUp", "HomePage", new { @class = "btn btn-info" })
                            @Html.ActionLink("Sign In", "SignIn", "HomePage", new { @class = "btn btn-success" })
                        }
                    </div>
                </div>
            </div>
        </div>
    <div class="container body-content" style="margin-top:100px;">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Glory-Exclusive</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
