﻿@{
    ViewBag.Title = "Glory-Exclusive";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Message</h3>

<p></p>


<div class="row text-center">
    <div class="col-md-4">
        <h2>Ürünler</h2>
        <img src="~/foto/elbise.png">

        <p>@Html.ActionLink("Ürünler", "Urunler", "HomePage", new { @class = "btn btn-success" })</p>
    </div>
  
</div>
