﻿@model WEB.ViewModels.SatinAlModels

@{
    ViewBag.Title = "SatinAl"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>SatinAl</h2>

@using (Html.BeginForm())
{
    <table class="table" style="width:70%;float:left;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.siparis.cloth.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.siparis.cloth.Price)
            </th>
            <th>
                Image
            </th>
        </tr>

        @foreach (var item in Model.sepet)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cloth.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cloth.Price)
                </td>
                <td>
                    <img src="@item.cloth.ImageURL" width="50" height="50" />
                </td>
            </tr>
        }

    </table>
}

<div style="float:left; ">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.siparis.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.siparis.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.siparis.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.siparis.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.siparis.Adress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.siparis.Adress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Check In" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>