﻿@model IEnumerable<WEB.Models.Cloth>
@{
    ViewBag.Title = "Urunler";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Urunler","HomePage",FormMethod.Get))
{
    <h4>Arama</h4>
    <p>
        @Html.TextBox("modelName", null, new { @class="form-control",@placeholder="Model Name"})
        <br />
        <br />
        @Html.TextBox("color", null, new { @class = "form-control", @placeholder = "Model Color" })
        <br />
        <br />
        @Html.TextBox("size", null, new { @class = "form-control", @placeholder = "Model Size" })
        <br />
        <br />
        @Html.TextBox("downPrice", null, new { @class = "form-control", @placeholder = "Model Down Price" })
        <br />
        <br />
        @Html.TextBox("upPrice", null, new { @class = "form-control", @placeholder = "Model Up Price" })
        <br />
        <br />
        <input type="submit" value="Ara" class="btn btn-primary" />
    </p>
}

<div class="row" style="width:65%; float:right; margin-top:-400px;">
    <ul style="list-style:none; text-align:center;">
        <li>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <img src="@item.ImageURL" width="150" height="400" />
                    <p style="color:#024d83;">Model Name @item.ModelName</p>
                    <p>Model Color @item.Color</p>
                    <p>Model Size @item.Size</p>
                    <p>Model Price @item.Price</p>
                    @Html.ActionLink("Sepete ekle", "SepeteEkle", new { clothID = item.ID })
                </div>
            }
        </li>
    </ul>
</div>
